.parent {
    display: flex;
    width: 60%;
    flex-flow: row wrap;

}

body,
html,
* {
    font-size: 30px;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
}

.card {
    height: 50vh;
    width: 27vw;
    background-color: antiquewhite;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
    flex: auto;

}

.card-img {
    width: 65%;
}

body {
    background-color: #87464d;
}

.centre {
    color: aliceblue;
    text-align: center;
}

.text-color {
    color: dimgray;
}


